{% extends "layoutscartdetail.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container my-4 " >
        <h2 align="center" >แบบฟอร์มลงทะเบียน</h2>
            <form method="post">
                {% csrf_token %}
                {{form | crispy}}
                <input type="submit" class="btn btn-primary" value="Register">
            </form>
</div>
<head>
    <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="485793670843-4m0bhke97165ba9argareeue4aas364m.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
  <br>
  
  <script>
    function onSignIn(userInfo) {
      var result = '';
      
      // Useful data for your client-side scripts:
      var profile = userInfo.getBasicProfile();
      
      result+= "ID: "+profile.getId()+"\n";
      result+= "Full Name:  "+profile.getName()+"\n";
      result+= "Given Name: "+profile.getGivenName()+"\n";
      result+= "Family Name: "+profile.getFamilyName()+"\n";
      result+= "Email: "+profile.getEmail()+"\n";
      result+= "ID Token: "+userInfo.getAuthResponse().id_token+"\n";
      
      document.getElementById("result").value = result;
    };
  </script>
  </body>

{% endblock %}
